.typewriter p {
  color: #f26b38;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #f26b38; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: #f26b38;
  }
  50% {
    border-color: #f26b38;
  }
}

.typed-cursor {
  font-size: 20px;
}
.handleIcon {
  color: black;
}
.handleIcon:hover {
  color: #f26b38;
}
.handleHover {
  transition: 300ms linear;
}
.handleHover:hover {
  background-color: #f26b38;
  color: white;
}
.handleHover:hover .ant-card-meta-title h3 {
  color: white;
}
.handleHover:hover .ant-card-meta-description p {
  color: white;
}
